* {
    margin: 12px;
    padding: 8px;
    border-radius: 55px;
}

:root {
    --background-color: rgba(255, 255, 255, 0.338);
    --text-color: black;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 40px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
}

/* navigation bar - background, projects, contact */
nav {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: right 15px;
    padding: 15px;
    justify-content: space-between;
    float: right;
}

body{
    background: linear-gradient( #decfcf, #9d99e4)

}

.container {
}

#aboutme {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 250px;
}

#self-image {
    float: left;
    margin-right: 10px;
    width: 200px;
    position: relative;
    border-radius: 5%;
    box-shadow: 10px 5px 5px white;
}


#projects 

.projectimage {
    width: 300px;
}




main {
    background-color: var(--background-color);
}
@media (max-width: 600px) {
    nav {
        padding: 0px;
    }
}

.link-class {
    padding: 500px;
    margin-top: 500px;
    color: red;
    top: -100px;
}

@media  (max-width: 740px) {
    .p {
        flex-direction: column-reverse;
    }
}